.botao{ 
   background-color: blueviolet;
   font-size: 20px; 
   color: beige;
   border-radius: 50px;
   text-align: center;
   text-decoration: none;
   padding: 10px;
}

body{
   text-align: center;
} 

.titulo{ 
   color: pink;

}